    html{
        height: 100%;
        scroll-behavior: smooth;
    }

    body {
        background-color: rgb(255, 255, 255);
        font-family: 'Comfortaa', cursive;
        color: rgb(0, 0, 0);
        height: 100%;
        margin: 0;
    }

    .top-text{
        margin-top: 10px;
        margin-bottom: 0px;
        text-align: center;
    }

    .top-text h1{
        margin-bottom: 5px
    }

    .Logo{
        border-radius: 20px;
        width: auto;
        height: 150px;
    }

    .AnnouncementsTitle{
        text-align: center;
    }

    .Announcement1{
        margin: auto;
        display: flex;
        margin-top: 25px;
        transition: 0.5s;
        text-align: center;
        column-gap: 30px;
        padding-bottom: 20px;
    }
   
    .Card-Wrap{
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
        overflow-y: hidden;
    }
    
    .content{
        background-color: #888888;
        color: rgb(255, 255, 255);
        border-radius: 10px;
        width: 200px;
        padding: 10px;
    }

    .content h1{
        font-size: 20px;
        margin: 10px 0px;
    }

    .content p{
        font-size: 15px;
        margin: 0px;
    }

    .MoreInfoBut{
        background: rgb(53, 53, 255);
        border: none;
        cursor: pointer;
        color: white;
        padding: 10px;
        transition: 0.5s
    }

    .MoreInfoBut:hover{
        background: rgb(15, 15, 255);
        transition: 0.5s;
    }

    .Footer{
        color: rgba(0, 0, 0, 0.5);
    }

    .Info{
        float: left;
        padding-left: 47px;
        padding-top: 5px;
    }
    .Social i{
        margin: 5px;
        transition: 0.3s;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5);
        font-size: 20px;
    }

    @media(min-width: 435px){
        .Social{
            float: right;
            padding-right: 47px;
            flex-wrap: wrap;
            flex-direction: row;
        }

        .Social i:hover{
            cursor: pointer;
            transform: scale(1.2);
            color: rgb(0, 0, 0);
            transition: 0.3s;
        }
    }

    @media(max-width: 435px){
        .Social{
            float: left;
            padding-left: 47px;
            flex-wrap: wrap;
            flex-direction: row;
        }
    }

    @media(min-width: 800px){

        .OpenButton{
            display: none;
        }

        .Nav{
            overflow: hidden;
            background-color: rgb(170, 170, 170);
            top: 0;
            left: 0;
            width: 100%;
            padding: 0px 0px;
        }

        .Nav a{
            float: left;
            display: block;
            color: #000000;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: 0.2s;
        }

        .Nav a:hover{
            background-color: rgb(102, 102, 102);
            transition: 0.2s;
        }

        .closebtn{
            display: none;
        }

        .Nav .ThemeSetting{
            float: right;
            text-align: center;
            padding: 14px 16px;
            margin-right: 10px;
            display: block;
            background: none;
            border: none;
            color: black;
            font-family: 'Comfortaa', cursive;
            font-size: 16px;
        }

        .Nav .ThemeText{
            display: none;
        }


        .Nav .ThemeSetting:hover{
            cursor: pointer;
        }
    }

    @media(max-width: 800px){
        .imgText h1{
            top: 35px;
        }

        .bg{
            display: none;
        }

        .Nav{
            height: 100%;
            width: 0px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgb(255, 255, 255);
            overflow-x: hidden;
            padding-top: 60px;
            transition: 0.5s;
        }

        .Nav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .Nav .closebtn {
            position: absolute;
            top: 0;
            font-size: 36px;
        }

        .Nav .ThemeSetting{
            float: left;
            text-align: center;
            padding: 14px 16px;
            padding: 8px 8px 8px 32px;
            display: block;
            background: none;
            border: none;
            color: white;
            font-family: 'Comfortaa', cursive;
            font-size: 16px;
        }

        .Nav i{
            color: black;
        }

        .NavBarSec i{
            color: black;
            font-size: 20px;
        }

        .Nav .ThemeText{
            float: right;
            margin-top: 0px;
            margin-left: 5px;
            color: black;
        }

        .closebtn{
            background: none;
            color: #818181;
            border: none;
            margin-left: 20px;
            margin-top: 10px;
        }

        .OpenButton{
            background: none;
            border: none;
            color: rgb(0, 0, 0);
        }

        .top-text h1{
            font-size: 23px;
        }

        .Announcements h1{
            font-size: 20px;
        }
    }