footer{
    background-color: #4949490e;
    width: 100%;
    top: 0%;
    z-index: 3;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 100px;
}

.FooterHolder{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 50%));
    grid-template-rows: auto auto;
    max-width: 1000px;
    margin: auto;
}

footer .Section1, footer .Section2{
    text-align: center;
}

.Section3{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.Section1 .Social{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

footer a{
    text-decoration: none;
    color: white;
    transition: all 0.2s;
    margin-left: 10px;
    margin-right: 10px;
}

footer a:hover{
    color: rgb(202, 202, 202);
}

footer p{
    margin: 10px;
}