@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  background-color: #272727;
}

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.welcomeTitle {
  font-size: 60px;
  margin: 5px auto;
  margin-bottom: 0px;
  color: rgb(189, 189, 189);
  text-align: center;
  position: relative;
}

.welcomeTitle::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: rgb(255, 255, 255);
  transition: width 0.2s;
}

.welcomeTitle span {
  transition: color 0.2s;
}

.welcomeTitle:hover::before {
  width: 100%;
}

.welcomeTitle:hover span {
  animation: in-glow 0.2s 1;
  animation-fill-mode: forwards;
}

.welcomeTitle:not(:hover) span {
  animation: out-glow 0.2s 1;
  animation-fill-mode: backwards;
}

@keyframes in-glow {
  0% {
    text-shadow: 0 0 0 white;
  }
  100% {
    text-shadow:  0px 0px 20px white;
  }
}

@keyframes out-glow {
  0% {
    text-shadow:  0px 0px 20px white;
  }
  100% {
    text-shadow: 0 0 0 white;
  }
}

.welcomeTitle span, .welcomeSub span{
  color: rgb(255, 255, 255);
}

.welcomeSub{
  color: rgb(189, 189, 189);
  margin-bottom: 10px;
  margin-top: 2px;
  font-size: 20px;
}

.topText .socials{
  display: flex;
  gap: 10px;
}

.topText a{
  width: 35px;
  height: 35px;
  background-color: rgb(112, 112, 112);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.topSection{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}