@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  background-color: #1d1d1d;
}

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.welcomeTitle{
  font-size: 60px;
  margin: 5px auto;
  margin-bottom: 0px;
  color: rgb(189, 189, 189);
  text-align: center;
}

.welcomeTitle span, .welcomeSub span{
  color: rgb(255, 255, 255);
}

.welcomeSub{
  color: rgb(189, 189, 189);
  margin-bottom: 10px;
  margin-top: 2px;
  font-size: 20px;
}

.topText .socials{
  display: flex;
  gap: 10px;
}

.topText a{
  width: 35px;
  height: 35px;
  background-color: rgb(112, 112, 112);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.top{
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topDown{
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.projectsHolder{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px ;
}

.Projects{
  margin-top: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.topDown p{
  margin: 0px;
}

.project{
  display: grid;
  grid-template-columns: 100px 200px;
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;
  justify-items: center;
  column-gap: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(61, 61, 61);
  width: 400px;
}

.project img{
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100px;
  border-radius: 100px;
}

.project h1, .project p{
  margin: 0px;
  color: white;
}

@media (max-width: 500px){
  .welcomeTitle{
    font-size: 35px;
  }
}