:root{
    --bck: rgb(51,51,51); /*Main Back*/
    --bck2: rgba(105, 105, 105, 0.267); /*IDK*/
    --bck3: rgb(59, 59, 59); /*IDK*/
    --bck4: rgb(83, 83, 83); /*IDK*/
    --bck5: rgb(31, 31, 31); /*IDK*/
    --bck6: rgb(61, 61, 61); /*Nav Back*/
    --text: 255,255,255;
}

.lightmode{
    --bck: rgb(255, 255, 255); /*Main Back*/
    --bck2: rgba(168, 168, 168, 0.267); /*IDK*/
    --bck3: rgb(202, 202, 202); /*IDK*/
    --bck4: rgb(255, 255, 255); /*IDK*/
    --bck5: rgb(211, 211, 211); /*IDK*/
    --bck6: rgb(219, 219, 219); /*Nav Back*/
    --text: 0,0,0;
}



html{
    height: 100%;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    display: none;
}

body{
    background-color: var(--bck);
    font-family: 'Montserrat', sans-serif;
    color: rgb(var(--text));
    height: 100%;
    margin: 0;
    text-align: center;
    transition: 0.2s;
}

.Wrap{
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.Announcments{
    margin: auto;
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;
    transition: 0.5s;
    text-align: center;
    column-gap: 30px;
}

.Announcment{
    background-color: var(--bck2);
    border-radius: 10px;
    max-width: 250px;
    min-width: 200px;
    min-height: 200px;
    padding: 10px;
    transition: 0.2s;
}

.Announcment:hover{
    transform: scale(1.2);
    transition: 0.2s;
}

.Announcment h1, i{
    font-size: 18px;
    margin: 8px 0px;
}

.Announcment p{
    font-size: 15px;
    margin: 0px;
}

.Announcment button{
    background: lightblue;
    color: white;
    padding: 10px;
    transition: 0.5s;
    border: none;
}

.Announcment button:hover{
    background: rgba(0, 0, 255, 0.623);
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.ExperienceWrap{
    display: flex;
    gap: 50px;
    flex-direction: row;
    text-align: center;
}

.experience{
    padding: 10px;
    border-radius: 10px;
}

.SkillsIMG{
    display: none;
}

.Footer{
    background-color: var(--bck3);
    padding: 10px;
    transition: 0.2s;
}

.Footer .Content{
   display: block;
   margin-top: 20px;
}

.Footer p{
    margin-bottom: 0px;
    margin-top: 19px;
}

.Footer .Content a{
    padding: 10px;
    text-decoration: none;
    color: rgb(var(--text));
}

.Footer .Content a:hover{
    color: rgba(var(--text), 0.712);
    cursor: pointer;
}

.feedback{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    background-color: var(--bck2);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    max-width: 750px;
}

.feedback .username{
    width: 80%;
    height: 20px;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--bck4);
    border: none;
    color: rgb(var(--text));
}

.feedback .Responce{
    width: 80%;
    height: 300px;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--bck4);
    border: none;
    color: rgb(var(--text));
    resize: none;
}

.feedback .submit{
    width: 80%;
    border-radius: 20px;
    background-color: var(--bck4);
    color: rgb(var(--text));
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-bottom: 20px;
    transition: 0.2s;
}

.feedback .submit:hover{
    transition: 0.2s;
    background-color: var(--bck5);
    transform: scale(1.05);
}


@media(min-width: 800px){

    
    .SkillsIMG{
        display: flex;
        float: right;
        margin-right: 10px;
        max-width: 60%;
    }

    .ExperienceWrap{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    .experience{
        padding: 10px;
        border-radius: 10px;
        width: 400px;
        max-width: 400px;
    }


    .OpenButton, .CloseButton{
        display: none;
    }

    .NavBar{
        overflow: hidden;
        background-color: var(--bck6);
        top: 0px;
        left: 0px;
        width: 100%;
        height: auto;
        padding: 0px 0px;
        position: fixed;
        z-index: 3;
    }

    .NavBar a{
        float: right;
        display: block;
        color: rgb(var(--text));
        text-align: center;
        padding: 10px 8px 8px 11px;
        margin: 0px 10px;
        font-size: 20px;
        text-decoration: none;
        transition: 0.2;
    }

    .NavBar a:hover{
        text-decoration: underline;
        text-underline-offset: 8px;
        text-decoration-color: aqua;
        text-decoration-thickness: 1px;
    }

    .ThemeButton {
        background-color: rgba(0, 0, 0, 0);
        float: right;
        display: block;
        color: rgb(var(--text));
        text-align: center;
        padding: 10px 8px 8px 11px;
        margin: -4px 8px;
        font-size: 20px;
        text-decoration: none;
        transition: 0.2;
        border-style: none;
    }

    .ThemeButton:hover{
        text-decoration: underline;
        text-underline-offset: 8px;
        text-decoration-color: aqua;
        text-decoration-thickness: 1px;
        cursor: pointer;
    }

    .NavBar p{
        float:left;
        margin: auto;
        line-height: 24px;
        vertical-align: middle;
        color: rgb(var(--text));
        padding: 10px 8px;
    }

    .sticky{
        position: fixed;
        top: 0;
        width: 100%;
    }

    section{
        margin: 3px, 0px;
        min-height: 90%;
    }
}

@media(max-width: 800px){

    .SkillsIMG{
        display: none;
    }

    .ExperienceWrap{
        display: flex;
        gap: 50px;
        flex-direction: column;
        width: 100%;
    }

    .NavBar{
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: var(--bck6);
        overflow-x: hidden;
        padding-top: 60px;
        line-break: strict;
        transition: 0.5s;
    }

    .NavBar a{
        padding: 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: rgb(var(--text));
        display: block;
        transition: 0.3s;
    }

    .NavBarSection{
        height: 5%;
        margin-top: 10px;
    }

    .NavBarSection .OpenButton{
        background: var(--bck6);
        border-radius: 10px;
        padding: 10px;
        border: #111;
        color: rgb(var(--text));
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }

    .NavBar .CloseButton{
        top: 0;
        font-size: 36px;
        background: none;
        border: none;
        color: rgb(var(--text));
    }

    .NavBar .CloseButton i{
        font-size: 25px;
    }

    .NavBar p{
        display: none;
    }

    .ThemeButton {
        font-family: 'Montserrat', sans-serif;
        margin-left: auto;
        margin-right: auto;
        padding: 8px 32px;
        text-decoration: none;
        font-size: 25px;
        display: block;
        color: rgb(var(--text));
        text-decoration: none;
        transition: 0.3s;
        border-style: none;
        background: none;
    }

    section{
        min-height: 70%;
        height: fit-content;

    }
}