header{
    background-color: rgb(53, 53, 53);
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0%;
    z-index: 3;
}

.TopNav p{
    float: left;
    margin: auto;
    padding: 10px 8px;
}

.TopNav a{
    float: right;
    margin: auto;
    padding: 10px 8px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    transition: all 0.2s;
    text-decoration: none;
    color: white;
}

.TopNav a:hover{
    cursor: pointer;
    color: rgb(202, 202, 202);
}

@media (max-width: 290px){
    header{
        display: none;
    }
}
