body {
    background-color: rgb(36, 36, 36);
    font-family: 'Comfortaa', cursive;
    color: white;
    margin: 0px;
} 

.title{
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    padding-top: 10px;
    font-size: 50px;
}

h2{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.GameWrapper{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 25px;
    transition: 0.5s;
    gap: 20px;
}

.Game{
    background-color: #47474797;
    max-width: 300px;
    min-width: 300px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}

.Game a{
    text-decoration: none;
}

.Game .RblxButton{
    margin-bottom: 10px;
    background-color: blue;
    border: none;
    color: white;
    padding: 10px;
    transition: 0.2s;
}

.Game .RblxButton:hover{
    background-color: rgba(0, 0, 255, 0.473);
    transition: 0.2s;
    cursor: pointer;
}


.Game h3{
    color: rgb(175, 243, 255);
    text-decoration: none;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 2px;
    font-size: 18px;
}

.GFXArtHolder{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.GFX{
    padding: 10px;
    text-align: center;
}

.ExperienceWrap{
    display: flex;
    gap: 50px;
    flex-direction: row;
    text-align: center;
    width: 100%;
}


.experience{
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
}

.Footer{
    color: rgba(255, 255, 255, 0.5);
}

.Info{
    float: left;
    padding-left: 47px;
    padding-top: 5px;
}
.Social i{
    margin: 5px;
    transition: 0.3s;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}

.workpagebut{
    text-decoration: none;
    color: rgb(168, 203, 255);
}

.workpagebut:hover{
    text-decoration: underline;
}
@media(min-width: 435px){
    .Social{
        float: right;
        padding-right: 47px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .Social i:hover{
        cursor: pointer;
        transform: scale(1.2);
        color: rgb(255, 255, 255);
        transition: 0.3s;
    }
}

@media(max-width: 435px){
    .Social{
        float: left;
        padding-left: 47px;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media(min-width: 800px){

    .ExperienceWrap{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .experience{
        background-color: #333;
        padding: 10px;
        border-radius: 10px;
        width: 400px;
        max-width: 400px;
    }


    .OpenButton{
        display: none;
    }

    .Nav{
        overflow: hidden;
        background-color: #333;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0px 0px;
    }

    .Nav a{
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.2s;
    }

    .Nav a:hover{
        background-color: black;
        transition: 0.2s;
    }

    .closebtn{
        display: none;
    }

    .Nav .ThemeSetting{
        float: right;
        text-align: center;
        padding: 14px 16px;
        margin-right: 10px;
        display: block;
        background: none;
        border: none;
        color: white;
        font-family: 'Comfortaa', cursive;
        font-size: 16px;
    }

    .Nav .ThemeSetting:hover{
        cursor: pointer;
    }

    .Nav .ThemeText{
        display: none;
    }
}

@media(max-width: 800px){
    
    .GFX2{
        display: none;
    }

    .Game{
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .imgText h1{
        top: 35px;
    }

    .ExperienceWrap{
    display: flex;
    gap: 50px;
    flex-direction: column;
    width: 100%;
    }

    .bg{
        display: none;
    }

    .Nav{
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    .Nav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

    .Nav .closebtn {
        position: absolute;
        top: 0;
        font-size: 36px;
    }

    .closebtn{
        background: none;
        color: #ffffff;
        border: none;
        margin-left: 20px;
        margin-top: 10px;
    }

    .OpenButton{
        background: none;
        border: none;
        color: white;
    }

    .Player{
        width: 80%;
    }

    .Nav .ThemeSetting{
        float: left;
        text-align: center;
        padding: 14px 16px;
        padding: 8px 8px 8px 32px;
        display: block;
        background: none;
        border: none;
        color: white;
        font-family: 'Comfortaa', cursive;
        font-size: 16px;
    }

    .Nav .ThemeText{
        float: right;
        margin-top: 0px;
        margin-left: 5px;
    }
}